# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# MacOS system files
.DS_Store

# IDE/Editor directories and files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dependency directories
node_modules/

# Log files
*.log

# Packaging files
*.egg-info/
dist/
build/

# PyInstaller
*.spec
